extends base-menu 

block content 
    .user-view__content
            .user-view__form-container
                h2.heading-secondary.ma-bt-md Kart parametrləri
                form.form.form-card-all-data
                    .form__group.ma-bt-md
                        label.form__label(for='id') ID
                        input#id.form__input(type='text', value=`${curCard.id}`, required,name='id',style="background-color:cyan",disabled)
                    .form__group.ma-bt-md
                        label.form__label(for='name') Ad
                        input#name.form__input(type='text', value=`${curCard.name}`, required,name='name')
                    .form__group
                        label.form__label(for='price') Qiymət
                        input#price.form__input(type='number', value=`${curCard.price}`,required,name='price')
                    .form__group
                        label.form__label(for='priceDiscount') Endirim
                        input#priceDiscount.form__input(type='number', value=`${curCard.priceDiscount}`,name='priceDiscount')
                    .form__group.ma-bt-md
                        label.form__label(for='category') Kateqoriya
                        select#category.form-control
                            option(value=`${curCard.category}` name='category')=`${curCard.category}`
                            option(value=`Dönərlər` name='category') Dönərlər
                            option(value=`Dəniz-məhsulları` name='category') Dəniz məhsulları
                            option(value=`İçkilər` name='category') İçkilər
                            option(value=`Kabablar` name='category') Kabablar
                            option(value=`Pizzalar` name='category') Pizzalar
                            option(value=`Suşilər` name='category') Suşilər
                            option(value=`Salatlar` name='category') Salatlar
                            option(value=`Şirniyyatlar` name='category') Şirniyyatlar
                            option(value=`Qəlyənaltılar` name='category') Qəlyənaltılar
                    .form__group.right.float-left.mr-3
                        button.btn.btn--small.btn-success.btn--save-password Yadda saxla